.app__about {
    flex: 1;
    width: 100%;
    flex-direction: column;
  }
  
  .app__profiles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
 
  }
  
  .app__profile-item {
    width: 90%;
    display: flex;
    margin: 2rem;
 
    // .app__profile_text{
    //   padding: 10px;
    // }
  
    img {
      width: 200px;
      height: auto;
      border-radius: 15px;
      object-fit: cover;
    }

    @media screen and (600px <= width <= 900px) {
      width: 100%;
    }

    @media screen and (max-width: 600px) {
      font-size: 2rem;
      flex-direction: column;
    }

    @media screen and (min-width: 2000px) {
      width: 370px;
      margin: 2rem 4rem;
      img {
        height: 320px;
      }
    }
  }